# Welcome

![](https://ds3.ai/2023/assets/r.png)

**Welcome to the Intro to R Programming Workshop!**

This is Part II. For a link to Part I click [here](https://colab.research.google.com/drive/1dLsdGbkvgn1JbWgsy9Z-pFmPd_2MG4Xu?usp=sharing).

Link to Slides: https://favstats.github.io/ds3_r_intro/


# R Packages

Packages are at the heart of R:

* R packages are basically a collection of functions that you load into your working environment.

* They contain code that other R users have prepared for the community.

* It's good to know your packages, they can really make your life easier.

* I suggest keeping track of package developments (for example on Twitter via #rstats)


You can install packages in R like this using the `install.packages` function:

In [ ]:
install.packages("janitor")

However, installing is not enough. You also need to load the package via `library`.

In [ ]:
library(janitor)

Think of `install.packages` as buying a set of tools (for free!) and `library` as pulling out the tools each time you want to work with them.

# The Tidyverse



![](https://predictivehacks.com/wp-content/uploads/2020/11/tidyverse-default.png)

## What is the `tidyverse`?

The tidyverse describes itself:

> The tidyverse is an opinionated **collection of R packages** designed for data science. All packages share an underlying design philosophy, grammar, and data structures.

<center>
<img src="https://rstudio-education.github.io/tidyverse-cookbook/images/data-science-workflow.png" style="width: 60%" />
</center>

## Core principle: tidy data

* Every column is a variable.
* Every row is an observation.
* Every cell is a single value.

We have already seen tidy data:

| Animal | Maximum Lifespan | Animal/Human Years Ratio  |
|  --- | ---  |  --- |  
| Domestic dog | 24.0 | 5.10 |
| Domestic cat | 30.0 | 4.08 |
| American alligator | 77.0 | 1.59 |
| Golden hamster | 3.9 | 31.41 |
| King penguin | 26.0 |  4.71 |

### Untidy data I


| Animal | Type | Value  |
|  --- | ---  |  --- |  
| Domestic dog | lifespan | 24.0 |
| Domestic dog | ratio | 5.10 |
| Domestic cat | lifespan | 30.0 |
| Domestic cat | ratio | 4.08 |
| American alligator | lifespan | 77.0 |
| American alligator | ratio | 1.59 |
| Golden hamster | lifespan | 3.9 |
| Golden hamster | ratio | 31.41 |
| King penguin | lifespan |  26.0 |
| King penguin | ratio |  4.71 |


The data above has multiple rows with the same observation (animal).

= not tidy

### Untidy data II

| Animal | Lifespan/Ratio  |
|  --- | ---  |
| Domestic dog | 24.0 / 5.10 |
| Domestic cat | 30.0 / 4.08 |
| American alligator | 77.0 / 1.59 |
| Golden hamster | 3.9 / 31.41 |
| King penguin | 26.0 /  4.71 |

The data above has multiple variables per column.

= not tidy

### Core principle: tidy data

<center>
<img src="https://www.openscapes.org/img/blog/tidydata/tidydata_2.jpg" style="width: 80%" />
</center>

Artist: [Allison Horst](https://github.com/allisonhorst)


Tidy data has two decisive advantages:

* Consistently prepared data is easier to read, process, load and save.

* Many procedures (or the associated functions) in R require this type of data.

<center>
<img src="https://www.openscapes.org/img/blog/tidydata/tidydata_4.jpg" style="width: 40%" />
</center>

Artist: [Allison Horst](https://github.com/allisonhorst)

## Installing and loading the tidyverse

First we install the packages of the tidyverse like this. In Google Colab we actually don't need to install the `tidyverse` because it comes pre-installed!

In [ ]:
# install.packages("tidyverse")

Then we load them:

In [ ]:
library(tidyverse)

## A new dataset appears..

We are going to work with a new data from here on out.

No worries, we will stay within the animal kingdom but we need a dataset that is a little more complex than what we have seen already.

**Meet the Palmer Station penguins!**

Data were collected and made available by [Dr. Kristen Gorman](https://www.uaf.edu/cfos/people/faculty/detail/kristen-gorman.php) and the [Palmer Station, Antarctica LTER](https://pal.lternet.edu/).


<center>
<img src="https://github.com/allisonhorst/palmerpenguins/raw/main/man/figures/lter_penguins.png" style="width: 80%" />
</center>

<center>
<img src="https://github.com/allisonhorst/palmerpenguins/raw/main/man/figures/culmen_depth.png" style="width: 80%" />
</center>

Artist: [Allison Horst](https://github.com/allisonhorst)

### Palmer Penguins

We could install the R package `palmerpenguins` and then access the data.

However, we are going to use a different method: directly load a .csv file (comma-separated values) into R from the internet.

We can use the `readr` package which provides many convenient functions to load data into R. Here we need `read_csv`:

In [ ]:
penguins_raw <- read_csv("https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins_raw.csv")

In [ ]:
penguins_raw

### take a `glimpse`

We can also take a look at data set using the `glimpse` function from `dplyr`.

In [ ]:
glimpse(penguins_raw)



## initial data cleaning using `janitor`

<center>
<img src="https://github.com/sfirke/janitor/raw/main/man/figures/logo_small.png" style="width: 20%" />
</center>



`janitor` is not offically part of the tidyverse package compilation but in my view it is incredibly important to know.

Provides some convenient functions for basic cleaning of the data.

Just like any tidverse-style package it fullfills the following criteria for its functions:

> The data is always the first argument.

This helps us to match by position.

In [ ]:
install.packages("janitor")

library(janitor)

### `clean_names()`

One annoyance with the `penguins_raw` data is that it has spaces in the variable names. Urgh!

R has to put quotes around the variable names that have spaces:

In [ ]:
penguins_raw$`Delta 15 N (o/oo)`
penguins_raw$`Flipper Length (mm)`

`janitor` can help with that:

using a function called `clean_names()`


`clean_names()` just magically turns all our messy column names into readable lower-case snake case:

In [ ]:

penguins_clean <- clean_names(penguins_raw)

That is how the variables look like now:

In [ ]:
glimpse(penguins_clean)

### `remove_constant()`

Now we have another problem. Not all variables in the `penguins_clean` data set are that useful.

Some of them are the same across all observations. We don't need those variables, like `region`.

In [ ]:
table(penguins_clean$region)

We can use the base R function `table` to quickly get some tabulations of our variable.



Here to help get rid of these *constant* columns is the function `remove_constant()`.

In [ ]:
penguins_clean <- remove_constant(penguins_clean, quiet = F)

When we set `quiet = F` we even get some info about what exactly was removed. Neat!

Another useful function in `janitor` is `remove_empty()` which removes all rows or columns that just consist of missing values (i.e. `NA`)

## Data cleaning using `tidyr`

![](https://tidyr.tidyverse.org/logo.png)

Now we are already fairly advanced in our tidying.

But our dataset is still not entirely tidy yet.

Consider the `species` variable:

In [ ]:
table(penguins_clean$species)

This variable violates the tidy rule that each cell should include a single value.

Species hold both the *common name* and the *latin name* of the penguin.

### `separate()`

We can use a `tidyr` function called `separate()` to turn this into two variables.

Two arguments are important for that:

+ `sep`: specifies by which character the value should be split
+ `into`: a vector which specifies the resulting new variable names

In our case we want to split by an empty space and opening bracket ` \\(` and will name our variables `species` and `latin_name`:

In [ ]:
penguins_clean <- separate(penguins_clean, species, sep = " \\(", into = c("species", "latin_name"))

In [ ]:
penguins_clean

Now there is still a trailing `)` at the end of `latin_name`. We can remove that using the `stringr` package and more specifically the `str_remove()` function.

In [ ]:
penguins_clean$latin_name <- str_remove(penguins_clean$latin_name, "\\)")

In [ ]:
penguins_clean

There is a also a function called `unite()` which works in the opposite direction.

Now our data is in tidy format!

We were in luck because the data pretty much already came in a format that was: 1 observation per row.

But what if that is not the case?

### `pivot_wider()` and `pivot_longer()`

`tidyr` also comes equipped to deal with data that has more that one observation per row.

The function to use here is called `pivot_wider`.

Now our `penguin_clean` data is already tidy.

But we can just read in a dataset that isn't:

In [ ]:
untidy_animals <- read_csv("https://github.com/favstats/ds3_r_intro/blob/main/data/untidy_animals.csv?raw=true")
untidy_animals

You may recognize this data from the subsection *Untidy data I*

Now let's use `pivot_wider` to make every row an observation.

We need two main arguments for that:

1. `names_from`: tells the function where the new column names come from
2. `values_from`: tells the function where the values should come from

In [ ]:
tidy_animals <- pivot_wider(untidy_animals,  names_from = Type, values_from = Value)
tidy_animals

`pivot_longer` can untidy our data again

The argument `cols = ` tells the function which variables to turn into long format:

In [ ]:
pivot_longer(tidy_animals,  cols = c(lifespan, ratio))



## Data manipulation using `dplyr`

<center>
<img src="https://github.com/allisonhorst/stats-illustrations/blob/main/rstats-artwork/dplyr_wrangling.png?raw=true" style="width: 62%" />
</center>

Artist: [Allison Horst](https://github.com/allisonhorst)



### `select()`

helps you select variables



![](https://favstats.shinyapps.io/r_intro/_w_bfa1a45e/images/select.png)

`select()` is part of the dplyr package and helps you select variables

Remember: with tidyverse-style functions, **data is always the first argument**.

#### Select variables

Here we only keep `individual_id`, `sex` and `species`.

In [ ]:
select(penguins_clean, individual_id, sex, species)

But `select()` is more powerful than that.

#### Remove variables

We can also **remove** variables with a **`-`** (minus).

Here we remove `individual_id`, `sex` and `species`.

In [ ]:
select(penguins_clean, -individual_id, -sex, -species)

#### Selection helpers

These *selection helpers* match variables according to a given pattern.

`starts_with()`: Starts with a prefix.

`ends_with()`: Ends with a suffix.

`contains()`: Contains a literal string.

`matches()`: Matches a regular expression.


For example: let's keep all variables that start with `s`:

In [ ]:
select(penguins_clean, starts_with("s"))

#### Even more ways to select

Select the first 5 variables:

In [ ]:
select(penguins_clean, 1:5)

Select everything from `individual_id` to `flipper_length_mm`.

In [ ]:
select(penguins_clean, individual_id:flipper_length_mm)



### `filter()`

helps you filter rows



![](https://favstats.shinyapps.io/r_intro/_w_bfa1a45e/images/filter.png)

Here we only keep penguins from the Island `Dream`.

In [ ]:
filter(penguins_clean, island == "Dream")

#### `%in%`


Here the **`%in%`** operator can come in handy again if we want to filter more than one island:

In [ ]:
islands_to_keep <- c("Dream", "Biscoe")

filter(penguins_clean, island %in% islands_to_keep)



### `mutate()`

helps you create variables



![](https://favstats.shinyapps.io/r_intro/_w_dfe6b732/images/mutate.png)

`mutate` will take a statement like this:

`variable_name = some_calculation`

and attach `variable_name` at the *end of the dataset*.


Let's say we want to calculate penguin bodymass in kg rather than gram.

We take the variable `body_mass_g` and divided by `1000`.

In [ ]:
pg_new <- mutate(penguins_clean, bodymass_kg = body_mass_g/1000)

We temporarily assign the dataset to `pg_new` just to check whether it worked correctly:

In [ ]:
select(pg_new, bodymass_kg, body_mass_g)

#### Recoding with `ifelse`

`ifelse()` is a very useful function that allows to easily recode variables based on logical tests.

It's basic functionality looks like this:

$$\color{red}{\text{ifelse}}(\color{orange}{\text{logical test}},\color{blue}{\text{what should happen if TRUE}}, \color{green}{\text{what should happen if FALSE}})$$

Here is a very basic example:

In [ ]:
ifelse(1 == 1, "Pick me if test is TRUE", "Pick me if test is FALSE")

In [ ]:
ifelse(1 != 1, "Pick me if test is TRUE", "Pick me if test is FALSE")

Let's use `ifelse` in combination with `mutate`.

Let's create the variable `sex_short` which has a shorter label for sex:

In [ ]:
pg_new <- mutate(penguins_clean, sex_short = ifelse(sex == "MALE", "m", "f"))

We temporarily assign the dataset to `pg_new` just to check whether it worked correctly:

In [ ]:
select(pg_new, sex, sex_short)

#### Recoding with `case_when`

`case_when` (from the `dplyr` package) is like `ifelse` but allows for much more complex combinations.

The basic setup for a `case_when` call looks like this:


case_when(


> $\color{orange}{\text{logical test}}$ ~ $\color{blue}{\text{what should happen if TRUE}}$,

> $\color{orange}{\text{logical test}}$ ~ $\color{blue}{\text{what should happen if TRUE}}$,


> $\color{orange}{\text{logical test}}$ ~ $\color{blue}{\text{what should happen if TRUE}}$,

> $TRUE$ ~ $\color{green}{\text{what should happen with everything else}}$,

)

The following code recodes a numeric vector (1 through 50) into three categorical ones:

In [ ]:
x <- c(1:50)

x

In [ ]:
case_when(
  x %in% 1:10 ~ "1 through 10",
  x %in% 1:30 ~ "11 through 30",
  TRUE ~ "above 30"
)

Let's use `case_when` in combination with `mutate`.

Creating the variable `short_island` which has a shorter label for `island`:

In [ ]:
test <- mutate(penguins_clean,
        island_short = case_when(
          island == "Torgersen" ~ "T",
          island == "Biscoe" ~ "B",
          island == "Dream" ~ "D"
        ))

In [ ]:
select(test, island, island_short)

With `case_when` you can also mix different variables making this a very powerful tool!



### `rename()`



Just changes the variable name but leaves all else intact:

In [ ]:
rename(penguins_clean, sample = sample_number)


### `arrange()`

You can order your data to show the highest or lowest value first.

Let's order by `flipper_length_mm`.

Lowest first:

In [ ]:
arrange(penguins_clean, flipper_length_mm)


Highest first using `desc()` (for descendant):

In [ ]:
arrange(penguins_clean, desc(flipper_length_mm))



### `group_by()` and `summarize()`

When you want to aggregate your data (by groups)

Sometimes we want to calculate **group statistics**.

In other languages this is often a pain.

With `dplyr` this is fairly easy **and** readable.

<img src="https://learn.r-journalism.com/wrangling/dplyr/images/groupby.png" style="width: 80%" />

Let's calculate the average `culmen_length_mm` for each sex.

*First* we group `penguins_clean` by `sex`.

In [ ]:
grouped_by_sex <- group_by(penguins_clean, sex)

`summarize` works in a similar way to `mutate`:

`variable_name = some_calculation`

In [ ]:
summarise(grouped_by_sex, avg_culmen_length_mm = mean(culmen_length_mm, na.rm = T))

We could also keep the data structure by using `mutate` on a grouped dataset:

In [ ]:
mutate(grouped_by_sex, avg_culmen_length_mm = mean(culmen_length_mm, na.rm = T))

### `count()`

Now this is a function that I use all the time.

This function helps you count how often a certain value occur(s) within variables(s).

Simply specify which variable you want to count.

Let's count how often the species occur.

In [ ]:
count(penguins_clean, species, sort = T)

The `sort = T` tells the function to sort by the highest occuring frequency.



### The `%>%` operator

<center>
<img src="https://rpodcast.github.io/officer-advrmarkdown/img/magrittr.png" style="width: 62%" />
</center>



The point of the pipe is to help you write code in a way that is easier to read and understand.

Let's consider an example with some data manipulation we have done so far:

In [ ]:
## first I select variables
pg <- select(penguins_clean, individual_id, island, body_mass_g)

## then I filter to only Dream island
pg <- filter(pg, island == "Dream")

## then I convert body_mass_g to kg
pg <- mutate(pg, bodymass_kg = body_mass_g/1000)

## rename individual id to simply id
pg <- rename(pg, id = individual_id)





Now this works but the problem is: we have to write a lot of code that repeats itself!

In [ ]:
pg



Another alternative is to *nest all the functions*:

In [ ]:
rename(mutate(filter(select(penguins_clean, individual_id, island, body_mass_g), island == "Dream"), bodymass_kg = body_mass_g/1000), id = individual_id)

But that's extremely tough to read and understand!


*The piping style*:

Read from top to bottom and from left to right and the `%>%` as "and then".

> Data first, data once

In [ ]:
penguins_clean %>%
  select(individual_id, island, body_mass_g) %>%
  filter(island == "Dream") %>%
  mutate(bodymass_kg = body_mass_g/1000) %>%
  rename(id = individual_id)

#### `group_by()` again

Grouping also become easier using pipes.

Let's try again to calculate the average `culmen_length_mm` for each sex but this time with pipes.

In [ ]:
penguins_clean %>%
  group_by(sex) %>%
  summarise(avg_culmen_length = mean(culmen_length_mm , na.rm = T))

#### Small Note on the Pipe

Since R Version 4.1.0 Base R also provides a pipe.

It looks like this:

$$|>$$

While it shares many similarities with the `%>%` there are also some differences.

It's beyond the scope of this workshop to go over it here but for the sake of simplicity we will stick with the `magrittr` pipe.

# Exercises II

The following includes a list of exercises that you can complete on your own.

We are going to use the `palmerpenguins` dataset for the tasks ahead!



![](https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/lter_penguins.png)

![](https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/culmen_depth.png)

## Functions reference list

For reference, here is a list of some useful  functions.

If you have trouble with any of these functions, try reading the documentation with `?function_name`

Remember: all these functions take the **data** first.

* `filter()`

  * Subset rows using column values

* `mutate()`

  * Create and modify delete columns

* `rename()`

  * Rename columns

* `select()`

  * Subset columns using their names and types

* `summarise()`; `summarize()`

  * Summarise each group to fewer rows

* `group_by()`; `ungroup()`

  * Group by one or more variables

* `arrange()`

  * Arrange rows by column values

* `count()`; `tally()`

  * Count observations by group

* `distinct()`

  * Subset distinct/unique rows

* `pull()`

  * Extract a single column

* `ifelse()`

  * useful for coding of binary variables

* `case_when()`

  * useful for recoding (when `ifelse` is not enough)

* `separate()`

  * separate two variables by some separator

* `pivot_wider()`

  * turn data into wide format

* `pivot_longer()`

  * turn data into long format

## Task 1

Load the `tidyverse` and `janitor` packages.

If `janitor` is not installed yet (it will say `janitor` not found) install it.

## Task 2

Read in the already cleaned `palmerpenguins` dataset using

* `read_csv`
* the following url: https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv

Assign the resulting data to `penguins`.

Then take a look a look at it using `glimpse`.

What kind of variables can you recognize?

## Task 3

Only keep the variables: `species`, `island` and `sex`.

Only keep variables 2 to 4.

Remove the column `year`.

Only include columns that contain "mm" in the variable name.

## Task 4

Rename `island` to `location`.

## Task 5

Filter the data so that `species` only includes `Chinstrap`.

Filter the data so that `species` only includes `Chinstrap` or `Gentoo`.

Filter the data so it includes only penguins that are `male` *and* of the species `Adelie`.

## Task 6

Create three new variables that calculates `bill_length_mm` and `bill_depth_mm` and `flipper_length_mm` from milimeter to centimeter.
  
Tip: divide the length value by 10.

Create a new variable called `bill_depth_cat` which has two values:

* Everything above a bill depth of 18mm and 18mm itself is "high"
* Everything below a bill depth of 18mm is "low"

Create a new variable called `species_short`.

* `Adelie` should become `A`
* `Chinstrap` should become `C`
* `Gentoo` should become `G`

## Task 7

Calculate the average `body_mass_g` per `island`.

If you haven't done so already, try using the `%>%` operator to do this.

## Task 8

Use the pipe operator (`%>%`) to do all the operations below.



1. Filter the `penguins` data so that it only includes `Chinstrap` or `Adelie`.
2. Rename `sex` to `observed_sex`
3. Only keep the variables `species`, `observed_sex`, `bill_length_mm` and `bill_depth_mm`
4. Calculate the ratio between `bill_length_mm` and `bill_depth_mm`
5. Sort the data by the highest ratio

Try to create the pipe step by step and execute code as you go to see if it works.

Once you are done, assign the data to `new_penguins`.

Calculate the average ratio by `species` and `sex`, again using pipes.

## Task 9

Count the number of penguins by island and species.

## Task 10

Below is a dataset that needs some cleaning.

Use the skills that you have learned so far to turn the data into a tidy dataset.

In [ ]:
animal_friends <- tibble(
  Names = c("Francis", "Catniss", "Theodor", "Eugenia"),
  TheAnimals = c("Dog", "Cat", "Hamster", "Rabbit"),
  Sex = c("m", "f", "m", "f"),
  a_opterr = c("me", "me", "me", "me"),
  `Age/Adopted/Condition` = c("8/2020/Very Good", "13/2019/Wild", "1/2021/Fair", "2/2020/Good")
)

Start here:

If you are done, turn the final data into long format.